.fancy-nav
  .fancy-nav__list
    .fancy-nav__item 
      .fancy-nav__item-details
        .fancy-nav__title We’re not afraid to rethink things
        .fancy-nav__description 
          p Lorem ipsum dolor sit amet consectetur adipiscing elit, rhoncus blandit lacinia primis fames laoreet, neque inceptos etiam donec interdum consequat
    .fancy-nav__item
      .fancy-nav__item-details 
        .fancy-nav__title Enthusiastic creators for living environments
        .fancy-nav__description 
          p Lorem ipsum dolor sit amet consectetur adipiscing elit
    .fancy-nav__item
      .fancy-nav__item-details
        .fancy-nav__title Create modern yet timeless experiences
        .fancy-nav__description 
          p Lorem ipsum dolor sit amet consectetur adipiscing elit, rhoncus blandit lacinia primis fames laoreet, neque inceptos etiam donec interdum consequat. Lorem ipsum dolor sit amet consectetur adipiscing elit, rhoncus blandit lacinia primis fames laoreet, neque inceptos etiam donec interdum consequat
    .fancy-nav__item
      .fancy-nav__item-details
        .fancy-nav__title Ultimately, design is about being
        .fancy-nav__description 
          p Lorem ipsum dolor sit amet consectetur adipiscing elit, rhoncus blandit lacinia primis fames laoreet, neque inceptos etiam donec interdum consequat. Lorem ipsum dolor sit amet consectetur adipiscing elit, rhoncus blandit lacinia primis fames laoreet, neque inceptos etiam donec interdum consequat
