.fancy-nav
  .fancy-nav__imgs
    .fancy-nav__img 
      img(src="https://assets.codepen.io/3341051/interior1.jpg")
    .fancy-nav__img
      img(src="https://assets.codepen.io/3341051/interior2.jpg")
    .fancy-nav__img
      img(src="https://assets.codepen.io/3341051/interior3.jpg")
    .fancy-nav__img
      img(src="https://assets.codepen.io/3341051/interior4.jpg")
  .fancy-nav__list
    .fancy-nav__item 
      .fancy-nav__item-details 
        h3.fancy-nav__title We’re not afraid to rethink things
        .fancy-nav__description 
          p Lorem ipsum dolor sit amet consectetur adipiscing elit, rhoncus blandit lacinia primis fames laoreet, neque inceptos etiam donec interdum consequat
    .fancy-nav__item
      .fancy-nav__item-details 
        h3.fancy-nav__title Enthusiastic creators for living environments
        .fancy-nav__description 
          p Lorem ipsum dolor sit amet consectetur adipiscing elit
    .fancy-nav__item
      .fancy-nav__item-details
        h3.fancy-nav__title Create modern yet timeless experiences
        .fancy-nav__description 
          p Lorem ipsum dolor sit amet consectetur adipiscing elit, rhoncus blandit lacinia primis fames laoreet, neque inceptos etiam donec interdum consequat. Lorem ipsum dolor sit amet consectetur adipiscing elit, rhoncus blandit lacinia primis fames laoreet, neque inceptos etiam donec interdum consequat
    .fancy-nav__item
      .fancy-nav__item-details
        h3.fancy-nav__title Ultimately, design is about being
        .fancy-nav__description 
          p Lorem ipsum dolor sit amet consectetur adipiscing elit, rhoncus blandit lacinia primis fames laoreet, neque inceptos etiam donec interdum consequat. Lorem ipsum dolor sit amet consectetur adipiscing elit, rhoncus blandit lacinia primis fames laoreet, neque inceptos etiam donec interdum consequat
