// _________ MIXINS ___________

@mixin transition-mix(
  $property: all,
  $duration: 0.2s,
  $timing: linear,
  $delay: 0s
) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

@mixin position-absolute($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

// _________ VARIABLES ___________
$__white: #fff;
$__slate-grey: #304949;
$__saddle-brown: #954722;
$__magenta-pink: #ca4985;

$font-color--light: $__white;

$border-color--light: $__white;

$bg-color--accent1: $__slate-grey;
$bg-color--accent2: $__saddle-brown;
$bg-color--accent3: $__magenta-pink;

// _________ STYLES ___________
.fancy-nav {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  // background: url(https://assets.codepen.io/3341051/interior1.jpg) 50% 0
  //   no-repeat;
  // background: url(https://assets.codepen.io/3341051/interior2.jpg) 50% 0
  //   no-repeat;
  background: url(https://assets.codepen.io/3341051/interior3.jpg) 50% 0
    no-repeat;
  background-size: cover;

  &:after {
    @include position-absolute($top: 0, $left: 0);
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 1;
  }
}

.fancy-nav__list {
  position: relative;
  display: flex;
  height: 100%;
  z-index: 2;
}

.fancy-nav__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 25%;
  overflow: hidden;

  &:not(:last-child) {
    border-right: 2px solid $border-color--light;
  }
}

.fancy-nav__item-details {
  @include transition-mix();
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.fancy-nav__title {
  color: $font-color--light;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 2rem;
}

.fancy-nav__item:hover {
  &:nth-child(1) {
    .fancy-nav__item-details {
      background-color: $bg-color--accent1;
    }
  }

  &:nth-child(2) {
    .fancy-nav__item-details {
      background-color: $bg-color--accent2;
    }
  }

  &:nth-child(3) {
    .fancy-nav__item-details {
      background-color: $bg-color--accent3;
    }
  }
}
